.form {
  /* display:inline-block; */
  text-align: center;
  /* background-color: rgb(181, 212, 228); */

  margin: auto;
  width: 30%;
  /* border: 3px solid rgb(143, 182, 240); */
  padding-left: 10px;
  
  
}

.formPanel {
  padding-top: 0px;
  margin: auto;
  align-self: center;
 
}
.form__logo {
  height: 68px;
  text-align: center;
  display: flex;
  margin: auto;
  align-self: center;
  padding-top: 100px;
  padding-left: 10px;
 
  
}

