.home {
  flex: 0.8;
  padding-left: 150px;
  
}

.home__Icon {
  transform: scale(3);
  margin-left: 205px;
  margin-top: 45px;
  color:rgb(22, 149, 223)
}

.title {
  align-items: center;
  padding-left: 95px;
  padding-top: 45px;
}

.home__Icon:hover {
  /* background-color: rgb(8, 172, 236);
  cursor: pointer; */
}
.subtitle {
  padding-left: 95px;
  padding-top: 45px;
}
.plane{
  transform: scale(.25);
  padding-right: 150px;
  align-content: center;
  float:left;
}
