.videoCard {
  margin-bottom: 40px;
  width: 270px;
}
.videoCard__thumbnail {
  height: 140px;
  width: 250px;
}
.vid {
  height: 140px;
  width: 250px;
}
p {
  color: black;
  text-align: left;
}
.delete {
  margin-top: 5px;
}
.click {
  color: white;
}
.videoTitle{
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 18px;
}
.deptTitle{
  padding-bottom: 8px;
  padding-left: 18px;
  
}
