.videoCard {
  margin-bottom: 40px;
  width: 270px;
}
.videoCard__thumbnail {
  height: 140px;
  width: 250px;
}
.vid {
  height: 140px;
  width: 250px;
}
p {
  color: black;
  text-align: left;
}
.delete{
  margin-top: 5px;
}
.Btn {
  display: inline-block;
  font-size: 10px;
  /* margin:auto; */
  /* margin-top:1px; */
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 3px;
}
